* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: $font-basic;
}
.wrapper {
  display: flex;
  position: relative;
}

.container-card {
  display: flex;
}

img {
  max-width: 100%;
}
.overflow {
  overflow: hidden;
}
