// Variables

//Animation

$transition-base: .3s ease;

// Fonts
$font-basic: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;


// font content

$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-26: 26px;
$font-42: 42px;
$font-h1: 24px;
$font-h3: 18px;

// Colors

$color-light-green: #27B983;
$color-green: #53CC71;
$color-dark-green: #1CAF5E;
$color-green-strong: #1DCE6C;
$color-darken-green: #147A42;
$color-opacity-white10: rgba(255, 255, 255, 0.1);
$color-opacity-white15: rgba(255, 255, 255, 0.15);
$color-white: #fff;
$color-opacity-black30: rgba(0, 0, 0, 0.3);
$color-black: #333333;
$color-dark-red: #540F0F;
$color-lighter-green: #B8E986;
$sidebar-gradient: linear-gradient(180deg, rgba(45,188,128,1) 0%, rgba(83,204,113,1) 100%);
$facebook-gradient: linear-gradient(180deg, rgba(57,87,154,1) 0%, rgba(44,68,121,1) 100%);
$twitter-gradient: linear-gradient(to bottom,#059FF5,#059FC3);
$insta-gradient: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
$linked-gradient: linear-gradient(to bottom,#007EBB,#007E9D);
$snap-gradient: linear-gradient(to bottom,#FFFE00,#F3F200);
$youtube-gradient: linear-gradient(to bottom,#CE1312,#B01312);
$google-gradient: linear-gradient(to bottom,#F93F2D,#C73F2D);
$vimeo-gradient: linear-gradient(to bottom,#00B687,#008E87);
$color-gray: #C5CFC9;