// Variables

//Animation

$transition-base: 0.3s ease;

// Fonts
$font-basic: "Roboto", sans-serif;
$font-oswald: "Oswald", sans-serif;

// Display size

$xs: 320px;
$sm: 576px;
$md: 768px;
$xl: 992px;
$lg: 1200px;

// font content

$font-size-very-small: 10px;
$font-size-small: 11px;
$font-size-medium: 12px;
$font-size-h4: 13px;
$font-size-base: 14px;
$font-size-big: 26px;
$font-size-very-big: 42px;
$font-size-h1: 24px;
$font-size-h3: 18px;

// Colors

$color-light-green: #27b983;
$color-green: #53cc71;
$color-content-title: #1caf5e;
$color-green-strong: #1dce6c;
$color-darken-green: #147a42;
$color-opacity-white10: rgba(255, 255, 255, 0.1);
$color-opacity-white15: rgba(255, 255, 255, 0.15);
$color-white: #fff;
$color-opacity-black30: rgba(0, 0, 0, 0.3);
$color-black: #333333;
$color-title-icon: #540f0f;
$color-hover-filter: #b8e986;
$sidebar-gradient: linear-gradient(
  180deg,
  rgba(45, 188, 128, 1) 0%,
  rgba(83, 204, 113, 1) 100%
);
$facebook-gradient: linear-gradient(180deg, #39579a 0%, #2c4479 97.23%), #39579a;
$twitter-gradient: linear-gradient(180deg, #059ff5 0%, #059fc3 100%), #059ff5;
$insta-gradient: linear-gradient(
  45deg,
  #f09433 0%,
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%,
  #bc1888 100%
);
$linked-gradient: linear-gradient(180deg, #007ebb 0%, #007e9d 98.51%), #007ebb;
$snap-gradient: linear-gradient(180deg, #fffe00 0%, #f3f200 96.43%), #fffe00;
$youtube-gradient: linear-gradient(180deg, #ce1312 0%, #b01312 100%), #ce1312;
$google-gradient: linear-gradient(180deg, #f93f2d 0%, #c73f2d 100%), #f93f2d;
$vimeo-gradient: linear-gradient(180deg, #00b687 0%, #008e87 100%), #00b687;
$color-gray: #c5cfc9;
