@include responsive($xs) {
  .cards {
    &__info {
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
      border-radius: 10px;
      font-family: $font-oswald;
      color: $color-white;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
    }

    &__social {
      padding: 20px;
    }

    &__number {
      display: block;
      padding-left: 20px;
      font-size: $font-size-very-big;
      font-weight: 700;
    }

    &__followers {
      padding-left: 20px;
      font-size: $font-size-small;
      text-transform: uppercase;
      letter-spacing: 2.5px;
    }

    &__place {
      padding: 5px 0;
      text-align: right;
      font-size: $font-size-big;
    }

    &__user {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
    }

    &__img {
      margin-right: 5px;

      img {
        border-radius: 4px;
      }
    }

    &__network {
      color: $color-title-icon;
      opacity: 0.5;
    }
    &__mail {
      color: $color-title-icon;
    }
  }

  .facebook {
    background: $facebook-gradient;
  }

  .twitter {
    background: $twitter-gradient;
  }

  .instagram {
    background: $insta-gradient;
  }

  .linked {
    background: $linked-gradient;
  }

  .youtube {
    background: $youtube-gradient;
  }
  .snap {
    background: $snap-gradient;
    color: $color-black;
    .card__number,
    .card__followers {
      color: $color-black;
      font-weight: 700;
    }
  }
  .google {
    background: $google-gradient;
  }
  .vine {
    background: $vimeo-gradient;
  }
}
