.navigation {
  &__list {
    list-style: none;
  }

  &__link {
    padding: 15px 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    font-size: $font-size-base;
    color: $color-white;

    &--active {
      border-radius: 5px;
      background: $color-opacity-white15;
    }

    &:hover {
      border-radius: 5px;
      background: $color-opacity-white15;
    }
  }
}
